<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <%- include('link'); -%>

  </head>
  <body>
    <!-- menu -->
    <%- include('header'); -%>




    <!-- body all section start -->

    <%- include('allbody'); -%>



    <!-- footer -->
    <%- include('footer'); -%>
    
  </body>
</html>
